@charset "UTF-8";


/* Color Theme Swatches in Hex  -  COPIADO DO ADOBE COLOR*/
.Janek-Murd---OXO-1-hex { color: #BFBFBF; }
.Janek-Murd---OXO-2-hex { color: #8C8C8C; }
.Janek-Murd---OXO-3-hex { color: #595959; }
.Janek-Murd---OXO-4-hex { color: #262626; }
.Janek-Murd---OXO-5-hex { color: #0D0D0D; }


:root{
    --cor1:#BFBFBF;
    --cor2:#c9c9c9;
    --cor3:#595959;
    --cor4:#262626;
    --cor5:#0D0D0D;
    --cor6:#919191;
}

* {
    margin: 0px;
    padding: 0px;

}

.container {

    background: rgb(238, 238, 238);
    height: 800px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: #0d0d0d31 8px 6px 13px;


}

body{
    
    background-image: linear-gradient(to left, var(--cor1), var(--cor2)) ;
    


}

h1{
    color: white;
    background-color: var(--cor3);
    text-align: center;
    padding: 8px;
    margin:10px 0px 0px 0px;
    border-radius: 10px 10px 0 0;
}

.valores{
    padding: 0px;
    

}

/* Criar div rigth and left para alinhamento de conteudo lado a lado*/

.left {
    width: 350px;
    height: 100px;
    display: inline-block;
    align-items: center;
    justify-content: center;

}

.right {
    width: 100px;
    height: 100px;
    display: inline-block;  
    align-items: center;
    justify-content: center;   
}

h2{
    color: black;
    text-align: center;
    padding: 5px;
    
}

.conversao{
    background-color: var(--cor6);
    text-align: center;

}

#lista{
    margin: 3px;
    width: 100px;
    height: 20px;
    
}

select{
    margin: 5px;
    width: 100px;
    height: 20px;

}

#calcular{
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background: var(--cor2);
    border: var(--cor2); 

}

#calcular:hover{
    background:var(--cor3)
}



