@charset "UTF-8";


/* Color Theme Swatches in Hex  -  COPIADO DO ADOBE COLOR*/
.Janek-Murd---OXO-1-hex { color: #BFBFBF; }
.Janek-Murd---OXO-2-hex { color: #8C8C8C; }
.Janek-Murd---OXO-3-hex { color: #595959; }
.Janek-Murd---OXO-4-hex { color: #262626; }
.Janek-Murd---OXO-5-hex { color: #0D0D0D; }


:root{
    --cor1:#BFBFBF;
    --cor2:#c9c9c9;
    --cor3:#595959;
    --cor4:#262626;
    --cor5:#0D0D0D;
    --cor6:#919191;
}

* {
    margin: 0px;
    padding: 0px;

}

.container {

    background: rgb(238, 238, 238);
    height: 800px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: #0d0d0d31 8px 6px 13px;


}

body{
    
    background-image: linear-gradient(to left, var(--cor1), var(--cor2)) ;
    


}

h1{
    color: white;
    background-color: var(--cor3);
    text-align: center;
    padding: 8px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px 10px 0 0;
}

/* Criar div rigth and left para alinhamento de conteudo lado a lado*/

.left {
    width: 49%;
    margin-left: 6.5px;
    display: inline-block;
    background-color: red;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:30vw;
}

.right {
    width: 49%;
    background-color: green;
    display: inline-block;
    margin-right: 6.5px;
    text-align: center;
    padding: 5vw 0vw 5vw 0vw;
    min-width:30vw;
    float:right;
    
}

h2{
    color: black;
    text-align: center;
    padding: 5px;
    
}

.conversao{
    background-color: var(--cor6);
    text-align: center;


}

#lista{
    margin: 5px;
    width: 100px;
    height: 20px;
    
}



