@charset "UTF-8";


/* Color Theme Swatches in Hex  -  COPIADO DO ADOBE COLOR*/
.Janek-Murd---OXO-1-hex { color: #BFBFBF; }
.Janek-Murd---OXO-2-hex { color: #8C8C8C; }
.Janek-Murd---OXO-3-hex { color: #595959; }
.Janek-Murd---OXO-4-hex { color: #262626; }
.Janek-Murd---OXO-5-hex { color: #0D0D0D; }


:root{
    --cor1:#BFBFBF;
    --cor2:#c9c9c9;
    --cor3:#595959;
    --cor4:#262626;
    --cor5:#0D0D0D;
    --cor6:#919191;
}

* {
    margin: 0px;
    padding: 0px;

}

body{
    
    background-image: linear-gradient(to left, var(--cor1), var(--cor2)) ;

}

.container {

    background: rgb(238, 238, 238);
    height: 800px;
    width: 600px;
    border-radius: 10px;
    margin: auto;
    box-shadow: #0d0d0d31 8px 6px 13px;

}

nav{

    text-align: center;
    padding: 5px;

}

nav > a {

    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    margin: 10px;
    padding:3px ;
    border-radius: 5px;
    background-color: var(--cor2);

}

nav > a:hover {

    text-decoration: underline;
    color: white;
    background-color: var(--cor3);

}

.dadosEntrada, .resultados {
    width: 50%;
    display: block;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 10px;
    outline: auto;
}

.ContainerBotoes {

    display: block;  
    margin: auto; 

    text-align: center;
}


h1{
    color: white;
    background-color: var(--cor3);
    text-align: center;
    margin:10px 0px 0px 0px;
    border-radius: 10px 10px 0 0;
} 

h2{
    color: black;
    text-align: center;
    padding: 5px;
    
}

.conversao{
    background-color: var(--cor6);
    text-align: center;

}

#lista{
    margin: 3px;
    width: 100px;
    height: 20px;
    
}

select{
    margin: 5px;
    width: 100px;
    height: 20px;

}

.style-btn{

    width: 100px;
    height: 40px;
    border-radius: 3px;
    background: var(--cor2);
    border: var(--cor2);
    margin: 10px;

}

.style-btn-amb{

    width: 100px;
    height: 40px;
    border-radius: 3px;
    background: rgb(191, 211, 218);
    border: var(--cor2);
    margin: 10px;
    font-size: 0.8rem;

}


#btn-clear{

    width: 100px;
    height: 40px;
    border-radius: 3px;
    background: rgb(235, 181, 181);
    border: var(--cor2); 


}

#btn-clear:hover{

    background: rgb(223, 125, 125);

}

#btn:hover{
    background:var(--cor3)
}

/* Seletores para hide/unHide de elementos */

.hide{

    display: none;
    background-color: pink;

}

/* consumo */

label{

    padding: 5px;
    width: 150px;
    display: inline-block;
    
}

.concreto, .argamassa{

    text-align: center;

}

label > input{

    width: 100px;

}

.resultados {

    outline: auto;

}

/* Formatação Tabela*/


.pesoEspecifico{

    padding: auto;
    margin: 20px auto 10px auto;
    text-align: center;
    width: auto;
    height: auto;
    border: 1px solid black;

}

td,th{

    border: 1px solid #0D0D0D;


}

th{

    background-color: rgb(190, 190, 190);

}

.container > p{

    text-align: center;

}

/* media query - teste em celulares */

@media screen and (max-width:480px){

    .container, .conversao, .ContainerBotoes {

        width: auto;
        text-align: center;
        
    }

    nav > a{

        font-size: 1.1rem;
        padding: 1px;
        margin: 3px;
        display: inline-block; 

    }

    .valores, .dadosEntrada, .resultados{

        width: 95%;
        text-align: center;
    }

    h1{
       
        font-size:2.2em;
        color: white;
        background-color: var(--cor3);
        text-align: center;
        margin:0px 0px 0px 0px;
        border-radius: 0px;
        
    }

    .container{

        height: 100vh;

    }

    select, input{

        margin: 5px auto 5px auto;
        font-size: 1.1em;
        height: auto;

    }

    select#grandeza{

        width: auto;
        text-align: center;

    }

}






